language: node_js
dist: trusty
sudo: required
node_js: 6
script:
- npm test
cache:
  directories:
  - node_modules
env:
  global:
  - secure: a5QfECCWDnsYL+UU28mokQ9fqBB09e7gJHmhr/zv16dyK7DdD5YsUMm71YwO9SB3Sq2BkB8kdrzM0Nk4O8gUSrh/9GP6PYrmJq1kAkPJK0v2H5snuKzQKNn1PmrYwJpbJu8AlfTctDKUPKlrCHDhpL7fyuNI3F95VtaFYLx0fQ+b/VXsTgzLax0l7STkIMwLUdRfN5OAGe7n2K66LOCTup4ddhtzlnbWtsac4wdDdojXXzbFod36J1zpGYRRKeP3tJOYfhH/bAjyBh6dwc0Rp4Vo6Fn0YSF1tZjv1v8zmlS9bi0hebiFV7j2rTSd5+mZQ4uzS8ADFQum2Pz4nkm0USIdawviVyyPn3O012nHgftDfHv2rx1Yt+QyIXGu0Z9uj4+iOIZmpp3MX2Ww4EK3w8i2y6Xmfoj4rOdKoeH/MatBpneSO5XHfMQiagN/SjZBlJ6Q3TYuX/42dG9Y18NHrgWA2FopAEAZFzTFaOrxN30WqeQU5Cl5/JdMYxQxe4rl1Q8t5DtB8Vr59WorsOej9t+hNACIJKdl95FP0D3yAr5bvTLHcuUKTf6g8QVG0CgmTJ29vEJWQW2Fpi8gx1m4BvUgkRYB0dguFIxUg67wUVY9mp/uw8qurDY2H0KYRjVnysFinkavNH1waMZzUibdb4wS9x0M/MYv92j/2Q1FGbU=
  - secure: tIpV8frMM9is9z0ij5rXk6RVHmuJywcxLhK5UcgYZmEofF4RT3nnhdT4WcdPtakepuG0hAyj/5Gv+jRLheLiA+28IbtKFmT8xaUEsg0CczJxz3Uhq6WeRxXQJLxmwmAa1SAAXSstik1Gh809CHlFPFOvWc2Phc/2G24lx+bLMyGOzsAy5mKsDx8oyYBkd9nsBHC6LT9ZTwdyC90xBumIoHmH/0JhIVKr24b1htJdHip24C1mtTkBrp6NFgRvVZvksWGn4/gO5ieOHFRN/uuNPPgmLZS+ucCW7sBBFWd7pLvHtmgA0TgSqZq4B909IGd1jK7GEjcmGtAocqkTysHRHbDPaqllPcAF+XEa+T/aVAik8fxwM+NosohYBoaBBLQRoyz+BAzNpsge22Wadg1+89bO9+GKqOGD4GTe6AvmzuNVyQXRDsQvvEQDi63RrUFa486f0KO8su7jLYyok4e5aIpho875tNUtz8UsFRrJDptjLHE0x21+MgPIk9+6tOutcTnUWmYMNPmEN+yg3s4BJzHYhZ03v9eoHzEGNhtWNUpQYSkk1AkD2lA/lyFJ2Sc7fMY71hvI61IF9giGseCOeiklxumELyXwQ3jore9GykDlXgOPmoswOt8M75irjL5v/pOkLArL1+WcAIHHSJIZHiGzuj57LVq1/Y5yNEitJeg=
