# Replace the credentials here with your own.
# Rename this file to .env before running 'npm start'
# If you are using IAM authentication comment out the username/password credentials
# and use the IAM credentials key/value pair

WORKSPACE_ID=<put workspace id here>

# Watson Assistant authentication using username/password authentication
CONVERSATION_USERNAME=<put assistant username here>
CONVERSATION_PASSWORD=<put assistant password here>

# Watson Assistant Authentication using IAM
#CONVERSATION_IAM_APIKEY=<put assistant IAM apikey here>
#CONVERSATION_URL=<put assistant url here>
