# Replace the credentials here with your own.
# Rename this file to .env before running 'npm start'

WORKSPACE_ID=<put workspace id here>

# If Assistant service is hosted on IBM Cloud, uncomment and use these variables for IAM Authentication
# CONVERSATION_APIKEY=<put assistant IAM apikey here>
# CONVERSATION_URL=<put assistant url here>

# If Assistant service is hosted on CP4D Cluster, uncomment and use these variables for CP4D Authentication
# CONVERSATION_AUTH_TYPE=cp4d
# CONVERSATION_AUTH_URL=<put cp4d url here>
# CONVERSATION_AUTH_DISABLE_SSL=true
# CONVERSATION_USERNAME=<put cp4d username here>
# CONVERSATION_PASSWORD=<put cp4d password here>
# CONVERSATION_URL=<put assistant url here>
# CONVERSATION_DISABLE_SSL=true
