# Replace the credentials here with your own.
# Rename this file to .env before running 'npm start'

WORKSPACE_ID=<put workspace id here>

ASSISTANT_IAM_APIKEY=<put assistant IAM apikey here>
ASSISTANT_URL=<put assistant url here>
